body {
  background-color: #272727;
  font-family: 'Segoe UI';
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  color: #ffff;
  font-size: 40px;
  font-weight: 600;
}

.loginBox, .userInterfaceBox, .calculatorBMI {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  height: 630px;
  border: white 1px solid;
}

.loginBox__title {
  color: #fff;
  text-align: center;
  font-weight: 400;
}

.loginBox__description {
  color: #d8d8d8;
  width: 100%;
  height: 90px;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  text-align: center;
}

.loginBox__input {
  width: 55%;
  border: none;
  border-bottom: #666666 1px solid;
  color: #fff;
  background-color: #272727;
  margin-top: 20px;
  margin-left: 20%;
  padding: 10px;
}

.loginBox__button {
  width: 45%;
  margin-top: 45px;
  margin-left: 30%;
  padding: 10px;
  font-size: 15px;
  border: none;
}

.loginBox__checkbox {
  margin-top: 40px;
}

.loginBox__acceptRights {
  color: white;
}

a {
  color: none !important;
}

@media only screen and (max-width: 600px) {
  .logo {
    display: none;
  }
  .menu {
    display: none;
  }
  .loginBox, .userInterfaceBox, .calculatorBMI {
    padding: 10px;
  }
  .modal {
    width: 80% !important;
  }
  .foodIcons {
    width: 50% !important;
    height: unset !important;
    font-family: 'Segoe UI';
  }
  .userInterfaceBox, .calculatorBMI {
    width: 100% !important;
    height: 100vh;
  }
}

.navigation {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation .menu {
  color: #fff;
  margin-top: -5px;
  list-style: none;
}

.navigation .menu li {
  padding: 10px;
  font-size: 20px;
  float: left;
  margin-top: 15px;
}

.container {
  width: 100%;
}

.signIn {
  display: none;
}

.modal {
  display: none;
  position: absolute;
  height: 100px;
  width: 20%;
  text-align: center;
  background-color: #d4d4d4;
  -webkit-box-shadow: 10px 10px 18px -8px black;
          box-shadow: 10px 10px 18px -8px black;
}

.modal__text {
  padding: 20px;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.userInterfaceBox, .calculatorBMI {
  background-color: #fff;
  width: 50%;
  min-height: 600px;
}

.userInterfaceBox__table {
  border: 1px solid #b3b0b0;
  border-radius: 5px;
  padding: 25px;
}

.userInterfaceBox th, .calculatorBMI th {
  width: 150px;
  text-align: center;
  color: #383838;
  font-weight: 500;
}

.userInterfaceBox td, .calculatorBMI td {
  text-align: center;
  vertical-align: middle;
}

button::-moz-focus-inner {
  border: 0;
}

.calculatorBMI {
  display: none;
  min-height: 600px;
}

.calculatorBMI__text {
  text-align: center;
  width: 50%;
  margin-bottom: 10px;
}

.calculatorBMI__input, .foodDiary__input {
  margin-top: 5px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #b1b1b1;
  color: #4d4d4d;
}

.calculatorBMI__button {
  border: 1px solid #d8d8d8;
  border-radius: 1px;
  padding: 10px;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #cecece), color-stop(50%, white));
  background: linear-gradient(to right, #cecece 50%, white 50%);
  width: 20%;
  margin-top: 10px;
  font-weight: 600;
  cursor: pointer;
  color: #636363;
  position: relative;
  background-position: right bottom;
  background-size: 200% 100%;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.calculatorBMI__button:hover {
  background-position: left bottom;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.foodIcons {
  color: #4b4b4b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Segoe UI';
  width: 490px;
  height: 300px;
}

.foodIcons--ketchup {
  background-image: url("../img/food_ketchup_icon.png");
  height: 60px;
  width: 60px;
  background-position: 25% 75%;
  background-size: 60px;
}

.foodIcons--hamburger {
  background-image: url("../img/food_hamburger_icon.png");
  height: 60px;
  width: 60px;
  background-position: 25% 75%;
  background-size: 60px;
}

.foodIcons--sandwich {
  background-image: url("../img/food_sandwich_icon.png");
  height: 60px;
  width: 60px;
  background-position: 25% 75%;
  background-size: 60px;
}

.foodIcons--cola {
  background-image: url("../img/food_coke_icon.png");
  height: 60px;
  width: 60px;
  background-position: 25% 75%;
  background-size: 60px;
}

.foodIcons__text {
  width: 180px;
  margin-left: 5px;
  margin-top: 30px;
  cursor: pointer;
}

.foodIcons__text--bold {
  font-weight: 600;
}

.foodIcons p {
  margin-top: -10px;
}

.foodIcons a {
  color: unset;
  text-decoration: unset;
}

.logoutButton {
  background-color: unset;
  border: unset;
  font-weight: 900;
}

.logoutButton__icon:before {
  font-size: 25px;
  font-family: "Font Awesome 5 Free";
  content: '\f52b';
  cursor: pointer;
  color: #7e7e7e;
}

.logoutButton__icon:hover:before {
  -webkit-animation-name: fadeColor;
          animation-name: fadeColor;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  color: #313131;
}

*:focus {
  outline: 0 !important;
}

@-webkit-keyframes fadeColor {
  from {
    color: #7e7e7e;
  }
  to {
    color: #313131;
  }
}

@keyframes fadeColor {
  from {
    color: #7e7e7e;
  }
  to {
    color: #313131;
  }
}

.measurementDate {
  width: 200px;
  height: 25px;
}

.userBMI {
  width: 10px;
}

.gray {
  background-color: #e4e4e4;
}

.white {
  background-color: white;
}

.modalBox {
  width: 20%;
  display: none;
  height: 150px;
  background-color: white;
  position: absolute;
  border: 2px solid #979797;
  -webkit-box-shadow: -12px 2px 151px -66px rgba(0, 0, 0, 0.75);
  box-shadow: -12px 2px 151px -66px rgba(0, 0, 0, 0.75);
}

.modalBox__text {
  text-align: center;
  font-size: 25px;
}

.modalBox__smalltext {
  text-align: center;
  font-size: 18px;
}

.foodDiary__input {
  width: 50%;
  text-align: center;
}

.weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.weather p {
  padding: 2px;
}
/*# sourceMappingURL=style.css.map */