body{
    background-color: #272727;
    font-family: 'Segoe UI';
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logo{
    color: #ffff;
    font-size: 40px;
    font-weight: 600;
}
.loginBox{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 630px;
    border: white 1px solid;
    &__title {
        color: #fff;
        text-align: center;
        font-weight: 400;
    }
    &__description { 
        color: rgb(216, 216, 216);
        width: 100%;
        height: 90px;
        font-weight: 300;
        font-style: normal;
        font-size: 18px;
        text-align: center;
    }
    &__input{
        width: 55%;
        border: none;
        border-bottom: rgb(102, 102, 102) 1px solid;
        color: #fff;
        background-color: #272727;
        margin-top: 20px;
        margin-left: 20%;
        padding: 10px;
    }
    &__button {
        width: 45%;
        margin-top: 45px;
        margin-left: 30%;
        padding: 10px;
        font-size: 15px;
        border: none;
    }
    &__checkbox {
        margin-top: 40px;
    }
    &__acceptRights {
        color: white;
    }
}
a{
    color: none !important;

}
@media only screen and (max-width: 600px) {
    .logo{
        display:none;
    }
    .menu{
        display:none;
    }
    .loginBox{
        padding: 10px;
    }
    .modal{
        width: 80% !important;
    }
    .foodIcons{
        width: 50% !important;
        height: unset !important;
        font-family: 'Segoe UI';
    }
    .userInterfaceBox{
        width: 100% !important;
        height:100vh;
    }
  }
.navigation{
    position:fixed;

    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    .menu{
        color: #fff;
        margin-top: -5px;
        list-style: none;
        li{
            padding: 10px;
            font-size: 20px;
            float: left;
            margin-top: 15px;
        }
    }
}
.container{
    width:100%;
}
.signIn{
    display: none;
}

.modal{
    display: none;
    position: absolute;
    height: 100px;
    width: 20%;
    text-align: center;
    background-color: rgb(212, 212, 212);
    box-shadow: 10px 10px 18px -8px rgba(0,0,0,1);
    &__text{
        padding: 20px;
    }
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.userInterfaceBox{
    @extend .loginBox;
    background-color: #fff;
    width: 50%;
    min-height: 600px;

    &__table{
        border: 1px solid rgb(179, 176, 176);
        border-radius: 5px;
        padding: 25px;
    }
    th{
        width:150px;
        text-align: center;
        color: rgb(56, 56, 56);
        font-weight: 500;
    }
    td{
        text-align: center; 
        vertical-align: middle;
    }
}

button::-moz-focus-inner {
    border: 0;
  }
  
.calculatorBMI{
    @extend .userInterfaceBox;
   display: none;
    min-height: 600px;
    &__text{
        text-align: center;
        width: 50%;
        margin-bottom: 10px;
    }
    &__input {
     
        margin-top: 5px;
        padding: 5px;
        border: none;
        border-bottom: 1px solid rgb(177, 177, 177);
        color: #4d4d4d;
    }
    &__button {
        border: 1px solid rgb(216, 216, 216);
        border-radius: 1px;
        padding: 10px;
        background: linear-gradient(to right, rgb(206, 206, 206) 50%, white 50%);
        width: 20%;
        margin-top: 10px;
        font-weight: 600;
        cursor: pointer;
        color: rgb(99, 99, 99);
        position: relative;
        background-position: right bottom;
        background-size: 200% 100%;
        transition: all .5s ease-in;
       
    }
    &__button:hover {
        background-position: left bottom;
        transition: all .5s ease-in;
    }

}

.foodIcons{
    color: #4b4b4b;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Segoe UI';
    width: 490px;
    height: 300px;
    &--ketchup{
        background-image: url("../img/food_ketchup_icon.png");
        height: 60px; 
        width: 60px;
        background-position: 25% 75%;
        background-size: 60px;
    }
    &--hamburger {
        background-image: url("../img/food_hamburger_icon.png");
        height: 60px;
        width: 60px;
        background-position: 25% 75%;
        background-size: 60px;
    }
    &--sandwich {
        background-image: url("../img/food_sandwich_icon.png");
        height: 60px;
        width: 60px;
        background-position: 25% 75%;
        background-size: 60px;
    }
    &--cola {
        background-image: url("../img/food_coke_icon.png");
        height: 60px;
        width: 60px;
        background-position: 25% 75%;
        background-size: 60px;
    }
    &__text {
    width: 180px;
    margin-left: 5px;
    margin-top: 30px;
    cursor: pointer;
    }
    &__text--bold {
        font-weight:600;
    }
    p{
        margin-top: -10px;
    }
    a{
        color: unset;
        text-decoration: unset;
    }
}
.logoutButton{
    background-color: unset;
    border: unset;
    font-weight: 900;
    &__icon:before{
        font-size: 25px;
        font-family: "Font Awesome 5 Free";
        content: '\f52b';
        cursor: pointer;
        color: #7e7e7e;
    }
    &__icon:hover:before{
        animation-name: fadeColor;
        animation-duration: 0.5s;
        color:rgb(49, 49, 49);
    }
}

*:focus {
    outline: 0 !important;
}

@keyframes fadeColor{
    from{
        color: #7e7e7e;
    }
    to{
        color:rgb(49, 49, 49);
    }
}

.measurementDate{
    width:200px;
    height: 25px;
}
.userBMI{
    width:10px;
}

.gray{
    background-color: rgb(228, 228, 228);
}
.white{
    background-color: white;
}

.modalBox{
    width: 20%;
    display: none;
    height: 150px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border: 2px solid rgb(151, 151, 151);
    -webkit-box-shadow: -12px 2px 151px -66px rgba(0,0,0,0.75);
    -moz-box-shadow: -12px 2px 151px -66px rgba(0,0,0,0.75);
    box-shadow: -12px 2px 151px -66px rgba(0,0,0,0.75);
    &__text{
        text-align: center;
        font-size: 25px;
    }
    &__smalltext{
        text-align:center;
        font-size: 18px;
    }
}
.foodDiary{
    &__input{
        @extend .calculatorBMI__input;
        width: 50%;
        text-align:center;
    }
}

.weather{
    display: flex;
    p{
        padding: 2px;
    }
}

