body{
    background-color: #272727;
    font-family: 'Ubuntu';
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    color: #ffff;
    font-size: 40px;
    font-weight: 600;
}
.loginBox{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 630px;
    border: white 1px solid;
    &__title {
        color: #fff;
        text-align: center;
        font-weight: 400;
    }
    &__description { 
        color: rgb(216, 216, 216);
        width: 100%;
        height: 90px;
        font-weight: 300;
        font-style: normal;
        font-size: 18px;
        text-align: center;
    }
    &__input{
        width: 55%;
        border: none;
        border-bottom: rgb(102, 102, 102) 1px solid;
        color: #fff;
        background-color: #272727;
        margin-top: 20px;
        margin-left: 20%;
        padding: 10px;
    }
    &__button {
        width: 45%;
        margin-top: 45px;
        margin-left: 30%;
        padding: 10px;
        font-size: 15px;
        border: none;
    }
    &__checkbox {
        margin-top: 40px;
    }
    &__acceptRights {
        color: white;
    }
}
@media only screen and (max-width: 600px) {
    .logo{
        display:none;
    }
    .menu{
        display:none;
    }
    .loginBox{
        padding: 10px;
    }
    .modal{
        width: 80% !important;
    }
    .foodIcons{
        width: 50% !important;
        height: unset !important;
    }

  }
.navigation{
    position:fixed;

    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    .menu{
        color: #fff;
        margin-top: -5px;
        list-style: none;
        li{
            padding: 10px;
            font-size: 20px;
            float: left;
            margin-top: 15px;
        }
    }
}
.container{
    width:100%;
}
.signIn{
    display: none;
}

.modal{
    display: none;
    position: absolute;
    height: 100px;
    width: 20%;
    text-align: center;
    background-color: rgb(212, 212, 212);
    box-shadow: 10px 10px 18px -8px rgba(0,0,0,1);
    &__text{
        padding: 20px;
    }
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.userInterfaceBox{
    @extend .loginBox;
    background-color: #fff;
    width: 50%;
    height: 600px;
}

.foodIcons{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 490px;
    height: 300px;
    &--ketchup{
        background-image: url("../img/food_ketchup_icon.png");
        height: 60px; 
        width: 60px;
        background-position: 25% 75%;
        background-size: 60px;
    }
    &--hamburger {
        background-image: url("../img/food_hamburger_icon.png");
        height: 60px;
        width: 60px;
        background-position: 25% 75%;
        background-size: 60px;
    }
    &--sandwich {
        background-image: url("../img/food_sandwich_icon.png");
        height: 60px;
        width: 60px;
        background-position: 25% 75%;
        background-size: 60px;
    }
    &--cola {
        background-image: url("../img/food_coke_icon.png");
        height: 60px;
        width: 60px;
        background-position: 25% 75%;
        background-size: 60px;
    }
    &__text {
    width: 180px;
    margin-left: 5px;
    }
    &__text--bold {
        font-weight:600;
    }
}
